.trip {
  height: 100vh;
  width: 100vw;
  background: #faf9f4;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  &_headers {
    height: 15%;
    width: 100%;
  }
  &_reload {
    display: flex;
    justify-self: center;
    align-items: center;
    margin-top: 2em;
  }
  &_messages {
    height: 70%;
    width: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    &::-webkit-scrollbar {
      display: none;
      width: 0;
    }
  }
  &_type {
    height: 5%;
    width: 90%;
    display: flex;
    justify-self: center;
    align-items: center;
    padding-bottom: 10px;
  }
}
